<div class="w-full flex flex-wrap justify-center gap-5">
  <%= link_to "all", "/products/department/#{@department}", class: "category-filter-btn" %>
  <%= link_to "clearance", "/products/department/#{@department}?clearance=true", class: "category-filter-btn" %>
</div>

<div class="w-full flex flex-wrap justify-center gap-5">
  <% @categories&.each do |category| %>
    <%= link_to category.name, "/products/department/#{@department}?category=#{category.name}", class: "category-filter-btn" %>
  <% end %>
</div>