<h2 class="text-2xl font-bold">All Products</h2>

<div class="my-10">
  <%= paginate @products, outer_window: 3, class: "pagination" %>
</div>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-5 md:gap-x-5 gap-y-10">
  <% @products&.each do |product| %>
    <%= render product %>
  <% end %>
</div>
